* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Alata', sans-serif;
}

header	{
	margin-top: 50px;
}

.card-img-top {
	height: 300px;
	object-fit: cover;
}

.card {
	margin-top: 40px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .3s ease-in-out;
}

.card:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.carimg {
	height: 200px;
	object-fit: cover;
}

.carousel-caption {
	text-shadow: 1px 1px black;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

	.carimg {
		height: 400px;
	}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

.carimg {
	height: 600px;
}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
