* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Alata', sans-serif;
}


header {
	margin-top: 100px;
}

main {
	margin-bottom: 100px;
}



/*
.headimg {
	object-fit: cover;
	height: 500px;
	width: 100%;
}*/