* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Alata', sans-serif;
}



.jumbotron {
	background: linear-gradient(360deg, rgba(0,0,0,0.9360119047619048) 2%, rgba(0,0,0,0.7595413165266106) 32%, rgba(136,135,135,0) 69%), url("https://images6.alphacoders.com/886/886186.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}

.jtxt {
	margin-top: 240px;
	text-shadow: 1px 1px black;
}

.card {
	position: relative;
    margin: auto;
    overflow: hidden;
    margin: 10px;
}

.card img {
	max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: auto;
   -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .2s ease-in-out;
	transition: .3s ease-in-out;
}

.card:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

main {
	margin-bottom: 100px;
}

.breadcrumb {
	margin-top: -30px;
}